<h1>Welcome to the Rails Workout Studio App!</h1>

<span><%= link_to "Sign Up", "/signup" %></span>
<span><%= link_to "Login", "/login" %></span>
<span><%= link_to('Log in with Github!', '/auth/github') %></span>
