<h1>Your Studios</h1>

<ol>
<% @studios.each do |studio| %>
    <li><%= link_to studio.name, studio_path(studio) %> - <%= studio.category %> - <%= link_to "Edit Studio Details", edit_studio_path(studio) %></li><br>
<% end %>
</ol>

<%= link_to "Add a new studio", new_user_studio_path(@user) %> 