<h1>Your Studios</h1>

<ol>
<% @studios.each do |studio| %>
    <li><%= studio.name %> - <%= studio.category %></li><br>
<% end %>
</ol>

<%= link_to "Add a new studio", new_user_studio_path(@user) %> 